.aboutus {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.about-info {
    width: 60%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}