.container {
    padding: 0 50px;
    margin-top: 64px;
}

.section-header {
    text-align: center;
}

.section-header h1 {
    font-size: 3em;
    margin: 0;
}

@media screen and (max-width: 425px) {
    .section-header h1 {
        line-height: 1.2;
    }

    .container {
        padding: 20px;
    }
}